.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo-footer {
    height: 50px;
    width: 50px;
    display: flex;
    padding: 10px;
}

.dev-info-container {
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    border-right: 25px;
    border-top: 0;
    height: 10px;
    width: 70%;
    border-top: 1px solid #000;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}
