.developers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dev-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.inner-dev-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.dev-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h3 {
    height: 1px;
}

/* p {
    width: 50%;
    height: 25%;
    margin: 5%;
    padding: 5%;
} */
