.developers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dev-upper-section {
    height: 55vh;
    width: 100%;
    background-color: blueviolet;
    /* margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline; */
}

.dev-upper-section h1 {
    color: white;
    display: flex;
    margin-left: 220px;
    font-size: 50px;
    margin-top: 180px;
}

.dev-upper-intro {
    margin-left: 230px;
    margin-top: 30px;
    line-height: 22px;
    width: 600px;
}

.dev-intro {
    text-align: center;
}

.dev-img {
    /* border-radius: 50%; */
    /* width: 150px;
    height: 150px; */
    box-shadow: 40px -15px rgb(196, 160, 227);
    height: 150px;
    width: 150px;
    margin: 5vh 5vw;
}

.inner-dev-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.dev-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
}

.dev-profile h3 {
    height: 1px;
}

.dev-profile p {
    display: block;
    margin-block-start: 2px;
    margin-block-end: 2px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.logo-container a i {
    transition: all 0.3s linear;
}

.logo-container a:hover i {
    transform: scale(1.5);
}
