.delete-container {
    padding: 15px;
}

.deleteBtn {
    width: 71px;
    height: 36px;
    padding: 0 14px;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    color: #ffffffff;
    background: #8c001a;
    opacity: 1;
    border: none;
    border-radius: 6px;
}

.deleteBtn:hover {
    color: #ffffffff;
    background: #8c001a;
    cursor: pointer;
}
