.page-container {
  position: absolute;
  left: 257px;
  height: 100%;
  width: calc(100% - 257px);
  overflow-y: auto;
  overflow-x: hidden;
}
.profile-card {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 250px;
}
.profile-card .purple-box {
  background: #a967cfff;
  border: 1px solid purple;
  border-radius: 50%;
  width: 170px;
  height: 170px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.info-card {
  background-color: white;
  width: 690px;
  padding: 20px;
  margin-left: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 1px #d7d7d7, 0px 0px 2px #d7d7d7;
}

.info-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-card .username > h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 10px;
}

.info-card .occupation,
.email {
  font-size: 16px;
  color: #4d5564ff;
  margin-top: 5px;
  font-style: italic;
}

.info-card .bio {
  margin-top: 20px;
  font-size: 14px;
  /* font-style: italic; */
}

.edit-profile-btn {
  background-color: white;
  border: none;
  color: #4d5564ff;
  cursor: pointer;
}

.profile-project-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 20px;
}

.profile-project-card-inner {
  align-self: center;
  background-color: white;
  width: 920px;
  border-radius: 6px;
  box-shadow: 0px 0px 1px #d7d7d7, 0px 0px 2px #d7d7d7;
  margin-top: 30px;
  height: fit-content;
}

.profile-project-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.profile-project-card-header > p {
  margin-left: 10px;
  color: gray;
  font-size: 14px;
}

.profile-project {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  padding: 30px 30px 40px 30px;
}

.profile-project > a {
  height: 60px;
}

.profile-project .circle-icon,
.project-icon {
  font-size: 13px;
  margin-right: 3px;
}

.profile-project .task-name {
  font-size: 13px;
}
.profile-task {
  display: flex;
  flex-direction: row;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .profile-project {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .profile-project {
    grid-template-columns: repeat(1, 1fr);
  }
}
