nav {
    height: 35px;
    display: flex;
    /* justify-content: space-around; */
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 14px;
    z-index: 1;
    /* opacity: 0.9; */
    background-color: #9464c58f;
    color: white;
    font-weight: bold;
}

.nav-home-btn {
    position: absolute;
    left: 150px
}

.nav-login-btn {
    position: absolute;
    right: 100px
}