.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 220px; 
}

.not-found-container img {
    width: 300px;
    margin: auto;
    cursor: pointer;
}

.not-found-msg {
    margin: auto;
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 18px;
}

.not-found-msg span {
    color: purple
}